<div class="relative group">
    <button data-collapse-toggle="mega-menu-full-dropdown"
            class="flex items-center justify-between w-full text-gray-600 p-2 px-4
                   <%= items.some(item => item.href === currentPath) ? 'rounded-lg bg-gray-100' : '' %>">
        <%- title %>
        <svg class="w-2.5 h-2.5 ms-2.5 transition-transform duration-200 group-hover:rotate-180" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
             viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 4 4 4-4"/>
        </svg>
    </button>

    <div class="invisible opacity-0 translate-y-2 absolute left-1/2 -translate-x-1/2 z-10 mt-4 w-max
                group-hover:visible group-hover:opacity-100 group-hover:translate-y-0
                transition-all duration-300 delay-150 group-hover:delay-0
                ease-out">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 text-center gap-2 px-3 py-4 text-gray-900 dark:text-white bg-white shadow-lg rounded-lg
            transition-transform duration-300 ease-out
            min-w-[200px] w-max max-w-[600px]">
            <% items.forEach(function(item) { %>
                <a href="<%= item.href %>" class="block p-3 rounded-lg transition duration-150 ease-in-out hover:bg-gray-100 dark:hover:bg-gray-700
                                          <%= currentPath === item.href ? 'rounded-lg bg-gray-100' : 'hover:bg-gray-100 hover:rounded-lg' %>">
                    <div class="font-semibold whitespace-nowrap"><%= item.title %></div>
                </a>
            <% }); %>
        </div>
    </div>
</div>